.div {
    display: flex;
    align-items: baseline;
    gap: 10px;
}

.button {
    cursor: pointer;
    border-radius: 4px;
    border: 3px solid rgb(36 33 33);
    font-size: 18px;
    background-color: lightgray;
    position: absolute;
    left: 300px;
    top: 16px;

}

.user {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
}